.root{
    -fx-blu-oceano: #7676d6;
    -fx-viola-scuro: #3a3a96;
}
.text-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: -fx-blu-oceano;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-background-radius: 5px;
    -fx-text-fill: #3a3a96;
}
.text-field:hover {
    -fx-border-color: #5a5ac6;
}
.text-field:focused {
    -fx-border-width: 2px;
    -fx-border-color: -fx-viola-scuro;
    -fx-background-color: #ffffff;
}
.anag-label {
    -fx-text-fill: -fx-blu-oceano;
}